/* Global */

* {
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
 }

img {
    text-align: center;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

a {
    text-decoration:none;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 25px;
}

h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homebutton {
    position: fixed;
    top: 15px;
    left: 15px;
}

.hmbtn{
    transition: 0.5s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    transition: 0.5s;
}

.hmbtn:hover {
    transition: 0.5s;
    border-style:inset;
}

.desc {
    border: 3px double;
    border-radius: 30px;
    padding: 7px;
    list-style-position: inside;
    display:inline-block;
}

/* Homepage */

#mainmeallist {
    border: 2px groove rgb(100, 6, 109);
    box-shadow: 0px 0px 2px 2px rgb(77, 3, 80);
    border-radius: 50px;
    color: rgb(233, 53, 122);
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}

.mainlist{
    text-align: center;

}

button.mainlist {
    font-size: 20px;
    background-color: rgba(235, 119, 235, 0.315);
    border-width: 5px;
    border-color:#6b0c77;
    border-radius: 20px;   
    border-style:outset;
    transition: .5s;
    padding:5px 7px;
    text-align: center;
}

button.mainlist:hover {
    background-color:#6b0c77;
    color: white;
    border-style:inset;
    transition: .5s;
}

#titlecard {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homebody {
    background-color: #f3d5da;
}

#mainmeallist {
    text-align: center;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color:#cb2ae0;
    padding:0
}

/* GreenEggsAndHam */

.greeneggstext {
    color:#036d1a;
}

.greenhamtext {
    color: #3aa343;
    background-color: #baffba;
}

.gehbutton {
    background-color:#00c000be;
    border-color:#036d1a;
}

.gehbutton:hover {
    background-color:#036d1a;
}

/* FizzyLiftingDrinks */

.darktrq {
    color: darkturquoise;    
}

.rainbowtext {
    color: cyan;
    text-shadow: -4px -4px blue,
    -8px -8px pink;
    background-color: azure;
}

.fldbutton {
    background-color:rgb(167, 209, 245);
    border-color:rgb(56, 65, 190);
    text-shadow: -2px -2px blue,
    -3px -3px pink;
}

.fldbutton:hover {
    background-color:darkblue;
    text-shadow: -3px -3px blue,
    -5px -5px pink,
    -7px -7px rgb(81, 255, 197),
    2px 2px rgb(0, 153, 255),
    4px 4px rgb(224, 11, 214),
    6px 6px rgb(50, 185, 248);
}

/* SoylentGreen */

.soygreen {
    color: rgb(62, 100, 62);
    text-shadow: -1px -1px rgba(238, 105, 105, 0.267);
}

.soygrey {
    color:black;
    text-shadow:-1px -1px cadetblue;
    text-shadow: 1px 1px cadetblue;
    background-color: grey;
}

.soybutton {
    background-color:rgb(212, 212, 212);
}

.soybutton:hover {
    background-color:cadetblue;
}